@import url("./estilos/header.css");
@import url("./estilos/banner.css");

:root {
--cor-de-fundo: #dfffe4;
--cor-fonte: black;
--cor-fonte-titulo: black;

}

body{
    background-color: var(--cor-de-fundo);
}
.title1{
    text-align: center;
    font-size: 50px;
}