

.banner-img {
    margin: 10px;
    width: 97%;   
}


@media (min-width:1024px){
    .banner-img{
        width: 100%;
        
}
.subtítulo{
    font-size: 30px;
}
texto1-img{
    width: 50px;
    
}

}