.cabecalho {
background-color: #d3ffd2;
color: grey;
}

.cabecalho-menu-hamburguer {
height: 393px;
width: 47px;
display: inline-block;
background-repeat: no-repeat;
background-position: center;
background-image: url("../img/dowload-removebg-preview.png");
}